@include normalize();
* {
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  // background: #000;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 150px;
  flex-wrap: wrap;
}