.dropdown {
	background: rgba(225, 225, 225, 0.5);
	width: 300px;
  height: 300px;
  padding-top: 30px;
  text-align: center;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.7);
  margin: 10px;
}
.btn {
  border: 1px solid rgb(66, 172, 207);
  border-radius: 2px;
  background: rgb(66, 172, 207);
  padding: 12px 20px;
  color: #fff;
  outline: none;
  cursor: pointer;
  width: 200px;
  position: relative;
  text-align: left;
  
  &:hover {
    background: #fff;
    color: rgb(66, 172, 207);
  }
  &:hover:before {
    border-right: 1px solid rgb(66, 172, 207);
    border-bottom: 1px solid rgb(66, 172, 207);
  }
  &:before {
    content: "";
    width: 8px;
    height: 8px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: absolute;
    transform: rotate(225deg);
    right: 20px;
    top: 20px;
  }
}
.dropdown-menu {
  border: none;
  border-radius: 2px;
  outline: none;
  margin: 10px auto;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid rgba(156, 156, 156, 0.5);
  background: #fff;
  width: 200px;
  position: relative;
  text-align: center;
  &::after {
    content: "";
    width: 5px;
    height: 5px;
    background: #fff;
    border-right: 1px solid rgba(156, 156, 156, 0.5);
    border-bottom: 1px solid rgba(156, 156, 156, 0.5);
    position: absolute;
    transform: rotate(225deg);
    right: 20px;
    top: -4px;
    position: absolute;
  }
}
.dropdown-menu__item {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 10px 20px;
  text-align: left;
  color: rgba(156, 156, 156, 0.5);
  &:not(:last-child) {
    border-bottom: 1px solid rgba(156, 156, 156, 0.5);
  }
  &:hover {
    color: grey;
  }
}